* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

main {
    display: flex;
    flex-direction: column;
}

#result {
    font-size: 50px;
    color: aquamarine;
}